:root {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.countries {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(240, 235, 235);
}

.title {
  margin: 0;
  padding: 20px 0 10px;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: orange;
}

.subtitle {
  margin: 0;
  padding: 0 0 20px;
  font-size: 24px;
  font-weight: 300;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 5px rgb(155, 155, 155);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-buttons {
  margin: 0;
  padding: 20px 0 0;
  width: 320px;
  min-height: 1px;
  display: flex;
  justify-content: space-between;
}

.button {
  margin: 0;
  width: 150px;
  height: 35px;
  background: orange;
  border: none;
  border-radius: 2px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.graph-title {
  margin: 0;
  padding: 10px 0 5px;
  font-size: 20px;
  font-weight: 300;
}

.graphs {
  margin: 0;
  padding: 25px 0;
  width: 100%;
  box-sizing: border-box;
  min-height: max-content;
  background: rgb(240, 235, 235);
  box-shadow: 0 0 5px rgb(155, 155, 155);
}

.graph-wrapper {
  margin: 0 auto;
  padding: 3px 0;
  display: flex;
  width: 72%;
  height: 45px;
  align-items: center;
}

.data {
  margin: 0;
  padding: 0 10px;
  width: 14%;
  font-size: 20px;
  font-weight: 300;
}

.graph {
  margin: 0;
  padding: 0;
  width: 70%;
  height: 100%;
}

.span {
  margin: 0;
  padding: 0;
  height: 100%;
  background: orange;
  width: 63%;
}

